.header {
  background-color: #101828;
  height: 4vh;
  padding: 1vh;

  text-align: center;
  display: flex;
  img {
    border-radius: 50%;
    margin-left: 13px;
  }

  // border-bottom: 20px;
  //border-color: aliceblue;
}

.line {
  background-color: gray;
  height: 0.1vh;
  width: 100%;
}
