.header {
    background-color: #101828;
    height: 5.9vh;
 
    
    text-align: center;
    display: flex;
   
   // border-bottom: 20px;
    //border-color: aliceblue;
    
    
    
  }


  .line {

    background-color: hsla(0,0%,100%,.1);
    height: 0.1vh;
    width : 100%;
    
  }

 